@model ShopQuanAo.Models.ProductCategoryViewModel
@{
    ViewBag.Title = "ShopQuanAo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/CSS/Home/index.css">
    <link rel="stylesheet" href="~/Scripts/fontawesome-free-6.0.0-web/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/CSS/responsive.css">
</head>

<body>
    <!-- breadcrumb -->
    <div class="container color-br">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
            <li class="breadcrumb-item"><a href="">@Model.CategoryName</a></li>

            <li class="breadcrumb-item active" aria-current="page">Danh Sách Sản Phẩm</li>
        </ol>
    </div>
    <!--End breadcrumb -->

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <img class="" src="https://aothudong.com/theme/img/pages/banner-purchase.jpg" style="width: 100%; height: 220px; margin-top: 10px;">
                <div id="lst-product" class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 50px;">
                            <div class="prduct-ct">
                                <div class="single-pr">
                                    <a href="@Url.Action("Index","ProductDetail", new {productId = item.Id})">
                                        <img src="@item.IMAGELINK" alt="Áo gió mỏng trắng chống tia UV">
                                    </a>
                                    <span class="" style="position: absolute; bottom: 3px; left: 5px; color: #fff; font-size: 13px; text-shadow: 0 0 5px #ffae3e;">
                                        <i style="color: #ffae3e;" class="zmdi zmdi-star"></i> Đã đặt 31
                                    </span>
                                    <span class="" style="position: absolute; bottom: 3px; right: 5px; color: #fff; font-size: 13px; text-shadow: 0 0 5px #E91E63;">
                                        <i style="color: #e03550;" class="zmdi zmdi-favorite"></i>@item.LIKES thích
                                    </span>
                                </div>
                                <div class="product-info clearfix text-center">
                                    <div class="fix">
                                        <h4 class="post-title">
                                            <a class="product-name">@item.NAMEPRODUCT</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="fix pro-price product-price">
                                    @item.PRICE Đ
                                </div>
                            </div>
                        </div>

                    }
                </div>

            </div>
            @{
                Html.RenderAction("RenderMenu", "ProductDetail");
            }
        </div>
    </div>

    <input class="hidden" id="urlSearch" value="@Url.Action("Search","ProductCategory")" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/Content/JS/ProductDetail/JavaScript.js"></script>
</body>

</html>

